.footer {
  padding: 20px;
  background: rgb(240, 240, 250);
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.even {
  background-color: rgb(165, 42, 42);
}

.odd {
  background-color: rgb(153, 255, 127);
}
